<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Greenplots</title>

    <!-- Bootstrap Core CSS -->
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    
    <link href="../static/css/custom.css" rel="stylesheet">
   
    <link rel='stylesheet' id='realexpert_bootstrap_responsive_css-css'  href='../static/library/bootstrap/css/bootstrap-responsive.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css-css'  href='../static/library/font-awesome/css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css_ie7-css'  href='../static/library/font-awesome/css/font-awesome-ie7.min.css' type='text/css' media='all' />
     <script type='text/javascript' src='../static/js/jquery.js?ver=1.10.2'></script>
	<script type='text/javascript' src='../static/js/jquery-migrate.min.js?ver=1.2.1'></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

       <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <!-- <span class="glyphicon glyphicon-tree-deciduous"></span> -- >
                    <!-- <img src = "http://imgur.com/a/IDNCH"/> -->
                    Green Plots
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                      <li >
                        <a href="index.html">Home</a>
                    </li>
                    <li >
                        <a href="featured-eco-homes.html">Featured Eco-Homes</a>
                    </li>
                     <li class="active">
                        <a href="find-your-home.html">Find Your Home</a>
                    </li>
                    <li>
                        <a href="manage-your-listing.html">Manage Your Listing</a>
                    </li>
                     <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <div class="content-wrapper clearfix">
			<div class="container">
				<div id="archive-wrapper">
					<section class="advance-search">
						<div class="as-form-wrapper">
							<form class="advance-search-form clearfix form-inline" action = "http://localhost:5000/find-your-home.html" method = "GET">
                              <div class="option-bar location">
									<span class="inputzipcode">
									 <label>Zip Code:</label> <input type="text" name="zipcode" class="input-zip">
									</span>
								</div>
                           
								<div class="option-bar location">
									<span class="selectwrap">
                                   <label> Acreage:</label>
										<select name="acreage" id="select-location" class="search-select">
											<option value="0" >0+</option>
											<option value="1" >1+</option>
										 <option value="2" >2+</option>
                                         <option value="5" >5+</option>
                                         <option value="10" >10+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Beds:</label>
										<select name="beds" id="select-location" class="search-select">
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
                                            <option value="5" >5</option>
											<option value="6" >6+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Baths:</label>
										<select name="baths" id="select-location" class="search-select">
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
                                            <option value="5" >5</option>
											<option value="6">6+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Price:</label>
										<select name="price" id="select-location" class="search-select">
											<option value="0-100000" >0 - 100,000</option>
											<option value="100000-250000" >100,000 - 250,000</option>
											<option value="250000-500000" >250,000 - 500,000</option>
											<option value="500000-1000000" >500,000 - 1,000,000</option>
                                            <option value="1000000-2000000" >1,000,000 - 2,000,000</option>
											<option value="2000000-1000000000" >2,000,000+</option>
                                            
										</select>
									</span>
								</div>




								<!-- Animation --> 
								<script>
  								function toggleVisibility(id) {

  									var filestring = "houserender";

  									var solar = document.getElementById("checksolar");
  									if (solar.checked){
  										filestring = filestring + "_solar";
  									}


  									var bubble = document.getElementById("checkleed");
  									if (bubble.checked){
  										filestring = filestring + "_bubble";
  									}


  									var water = document.getElementById("checkwell");
  									if (water.checked){
  										filestring = filestring + "_well";
  									}


  									var heater = document.getElementById("checkheater");
  									if (heater.checked){
  										filestring = filestring + "_heater";
  									}
  									


  									var el = document.getElementById("houserender");
   									el.style.visibility="hidden";

   									

   									var el = document.getElementById("houserender_well_heater");
   									el.style.visibility="hidden";



   									var el = document.getElementById("houserender_well");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_well");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_well_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_bubble");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_bubble_well");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_bubble_well_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_solar_bubble_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_bubble");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_bubble_well");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_bubble_well_heater");
   									el.style.visibility="hidden";

   									var el = document.getElementById("houserender_bubble_heater");
   									el.style.visibility="hidden";



   									var el = document.getElementById(filestring);
   									el.style.visibility="visible";
  									
   								}
								</script>




								<div class="option-bar location">
									<span class="selectwrap">
										<label for="checksolar">Solar</label>
										<input type="checkbox" id="checksolar" onChange="toggleVisibility('solarimage');" /><br/>
									</span>
								</div>
							 	<div class="option-bar location">
									<span class="selectwrap">
										<label for="checkleed">Certified Insulation</label>
										<input type="checkbox" id="checkleed" onChange="toggleVisibility('insulationimage');" /><br/>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										<label for="checkwell">Private Well</label>
										<input type="checkbox" id="checkwell" onChange="toggleVisibility('wellimage');" /><br/>
									</span>
								</div>

								<div class="option-bar location">
									<span class="selectwrap">
										<label for="checkheater">Efficient Water Heating</label>
										<input type="checkbox" id="checkheater" onChange="toggleVisibility('heaterimage');" /><br/>
									</span>
								</div>
															 
								<div class="option-submit">
									<input type = "submit" class="advance-button-search" value="&nbsp;" /></p>
								</div>
							</form>
						</div><!-- /.as-form-wrapper -->




						{% if listings is not defined %}
						<div class="animation-countainer">
							<img id="houserender" src="../static/images/houserenders/houserender.png" style="position:absolute; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar" src="../static/images/houserenders/houserender_solar.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_bubble" src="../static/images/houserenders/houserender_solar_bubble.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_well" src="../static/images/houserenders/houserender_solar_well.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_heater" src="../static/images/houserenders/houserender_solar_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_bubble_well" src="../static/images/houserenders/houserender_solar_bubble_well.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_well_heater" src="../static/images/houserenders/houserender_solar_well_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_bubble_heater" src="../static/images/houserenders/houserender_solar_bubble_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_solar_bubble_well_heater" src="../static/images/houserenders/houserender_solar_bubble_well_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_bubble" src="../static/images/houserenders/houserender_bubble.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_bubble_well" src="../static/images/houserenders/houserender_bubble_well.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_bubble_heater" src="../static/images/houserenders/houserender_bubble_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_bubble_well_heater" src="../static/images/houserenders/houserender_bubble_well_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_well" src="../static/images/houserenders/houserender_well.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_well_heater" src="../static/images/houserenders/houserender_well_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>

						<div class="animation-container">
							<img id="houserender_heater" src="../static/images/houserenders/houserender_heater.png" style="position:absolute; visibility:hidden; width:1140px;"/>
						</div>
						{% endif %}



						<!-- search results if listing variable present -->	
						</section><!-- /.advance-search -->
						{% for listing in listings %}
								<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="{{ url_for('propertysingle',listingid=listing.listingid) }}">
												<img width="540" height="360" src= {{ listing.imageurls[0] }} class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>{{ listing.sqft }}</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>{{ listing.beds }}</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>{{ listing.baths }}</li>
												<li class="meta-garage"><i class="ico-garage"></i>{{ listing.acreage }}</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="{{ url_for('propertysingle',listingid=listing.listingid) }}" title="Florida 5, Pinecrest, FL">{{ listing.address }}</a>
											
										</div>
                                        <div class="badges1">
                                            {% for badge in listing.badges %}

                                                {% if badge|string() == 'electric'|string() %}
                                                <img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> 
                                                {% endif %}
                                                
                                                {% if badge|string() == 'wellwater'|string() %}
                                                <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" />
                                                {% endif %}

                                                {% if badge|string() == 'certified'|string() %}
                                                <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> 
                                                {% endif %}

                                                {% if badge|string() == 'solar'|string() %}
                                                <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" />
                                                {% endif %}

                                            {% endfor %}
                                        </div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>{{ listing.price }}&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>{{ listing.description }}</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: {{ listing.ecoscore }}</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div><!-- /.property-listing -->

							{% endfor %}
							</div>
					</div><!-- /#archive-wrapper -->
				 
			</div><!-- /.container-->
		</div>
 <script type='text/javascript' src='../static/js/jquery.form.min.js'></script>
	<script type='text/javascript' src='../static/js/jpages.js'></script>
	<script type='text/javascript' src='../static/library/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.jcarousel.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.flexslider.js'></script>
	<script type='text/javascript' src='../static/js/html5shiv.js'></script>
	<script type='text/javascript' src='../static/js/jquery.placeholder.js'></script>
	<script type='text/javascript' src='../static/js/jquery.selectbox.js'></script>
	<script type='text/javascript' src='../static/js/map-highlight.js'></script>
	<script type='text/javascript' src='../static/js/real-expert.js'></script>
	<script type='text/javascript' src='../static/js/selectivizr.min.js'></script>
	<script type='text/javascript' src='../static/js/respond.min.js'></script>
	 
	<script type='text/javascript' src='../static/js/property-map.js?ver=1.0'></script>
</body>