<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Greenplots</title>

    <!-- Bootstrap Core CSS -->
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    
    <link href="../static/css/custom.css" rel="stylesheet">
   
    <link rel='stylesheet' id='realexpert_bootstrap_responsive_css-css'  href='../static/library/bootstrap/css/bootstrap-responsive.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css-css'  href='../static/library/font-awesome/css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css_ie7-css'  href='../static/library/font-awesome/css/font-awesome-ie7.min.css' type='text/css' media='all' />
     <script type='text/javascript' src='../static/js/jquery.js?ver=1.10.2'></script>
	<script type='text/javascript' src='../static/js/jquery-migrate.min.js?ver=1.2.1'></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

       <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- <span class="glyphicon glyphicon-tree-deciduous"></span> -- >
                    <!-- <img src = "http://imgur.com/a/IDNCH"/> -->
                    Green Plots
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                      <li >
                        <a href="index.html">Home</a>
                    </li>
                    <li >
                        <a href="featured-eco-homes.html">Featured Eco-Homes</a>
                    </li>
                     <li class="active">
                        <a href="find-your-home.html">Find Your Home</a>
                    </li>
                     <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>


  


    <!-- Intro Section -->
    <header id="banner">
			<div id="banner_container" class="container">
				<h3 class="banner-title">Find Your Home</h3>
				<p class="banner-subtitle"></p>
			</div>
		</header>
	
    <div class="content-wrapper clearfix">
			<div class="container">
				<div id="archive-wrapper">
					<section class="advance-search">
						<div class="as-form-wrapper">
							<form class="advance-search-form clearfix form-inline" action="#" method="get">
                              <div class="option-bar location">
									<span class="inputzipcode">
									 <label>Zip Code:</label> <input type="text" name="firstname" class="input-zip">
									</span>
								</div>
                           
								<div class="option-bar location">
									<span class="selectwrap">
                                   <label> Acreage:</label>
										<select name="acreage" id="select-location" class="search-select">
											<option value="0+" >0+</option>
											<option value="1+" >1+</option>
										 <option value="2+" >2+</option>
                                         <option value="5+" >5+</option>
                                         <option value="10+" >10+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Beds:</label>
										<select name="beds" id="select-location" class="search-select">
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
                                            <option value="5" >5</option>
											<option value="6+" >6+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Baths:</label>
										<select name="baths" id="select-location" class="search-select">
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
                                            <option value="5" >5</option>
											<option value="6+">6+</option>
                                            
										</select>
									</span>
								</div>
								<div class="option-bar location">
									<span class="selectwrap">
										 <label> Price:</label>
										<select name="price" id="select-location" class="search-select">
											<option value="0 - 100,000" >0 - 100,000</option>
											<option value="100,000 - 250,000" >100,000 - 250,000</option>
											<option value="250,000 - 500,000" >250,000 - 500,000</option>
											<option value="500,000 - 1,000,000" >500,000 - 1,000,000</option>
                                            <option value="1,000,000 - 2,000,000" >1,000,000 - 2,000,000</option>
											<option value="2,000,000+" >2,000,000+</option>
                                            
										</select>
									</span>
								</div>
							 
															 
								<div class="option-submit">
									<input type="submit" class="advance-button-search" value="&nbsp;" />
								</div>
							</form>
						</div><!-- /.as-form-wrapper -->
					</section><!-- /.advance-search -->
					<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div><!-- /.property-listing -->
					<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div><!-- /.property-listing -->
					<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div><!-- /.property-listing -->
					<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div>
					<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div>
				<div class="row-fluid property-listing status-35 clearfix">
									<div class="listing-image span5">
										<div class="property-image-container">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">
												<img width="540" height="360" src="../static/../static/images/dummy-540x360.png" class="attachment-real-property-loop wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL" />
											</a>
										</div><!-- /.property-images-container -->
										<div class="listing-meta">
											<ul>
												<li class="meta-size"><i class="ico-size"></i>240M</li>
												<li class="meta-bedroom"><i class="ico-bedroom"></i>3 Bed</li>
												<li class="meta-bathroom"><i class="ico-bathroom"></i>5 Bath</li>
												<li class="meta-garage"><i class="ico-garage"></i>1</li>
											</ul>
										</div>
									</div>
									<div class="listing-info span7">
										<div class="listing-title">
											<a href="property-single.html" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a>
											
										</div>
                                        <div class="badges1"><img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" /> <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" /></div> 
										<div class="listing-content">
											<div class="listing-property-price">
												<sup class="price-curr">$</sup>16,000&nbsp;
												<span class="price-postfix"></span>
											</div>
											<div class="listing-excerpt">
												<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas...</p>
											</div>
										</div>
                                        <div class="ecoscore">
                                        <h3>Eco Score: 93</h3>
                                        </div>
									</div>
									<div class="property-status status-35-text">For Sale</div>
								</div>
				</div><!-- /#archive-wrapper -->
				 
			</div><!-- /.container-->
		</div>
 <script type='text/javascript' src='../static/js/jquery.form.min.js'></script>
	<script type='text/javascript' src='../static/js/jpages.js'></script>
	<script type='text/javascript' src='../static/library/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.jcarousel.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.flexslider.js'></script>
	<script type='text/javascript' src='../static/js/html5shiv.js'></script>
	<script type='text/javascript' src='../static/js/jquery.placeholder.js'></script>
	<script type='text/javascript' src='../static/js/jquery.selectbox.js'></script>
	<script type='text/javascript' src='../static/js/map-highlight.js'></script>
	<script type='text/javascript' src='../static/js/real-expert.js'></script>
	<script type='text/javascript' src='../static/js/selectivizr.min.js'></script>
	<script type='text/javascript' src='../static/js/respond.min.js'></script>
	 
	<script type='text/javascript' src='../static/js/property-map.js?ver=1.0'></script>
</body>