<!DOCTYPE html>

<html lang="en">


<style>
  	.bottom-one {
		margin-bottom: .5cm;
	}
</style>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Greenplots</title>

   <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../static/css/custom.css" rel="stylesheet">
    <link rel='stylesheet' id='realexpert_bootstrap_responsive_css-css'  href='../static/library/bootstrap/css/bootstrap-responsive.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css-css'  href='../static/library/font-awesome/css/font-awesome.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realexpert_font_awesome_css_ie7-css'  href='../static/library/font-awesome/css/font-awesome-ie7.min.css' type='text/css' media='all' /> 
    <link rel='stylesheet' id='flexslider_css-css'  href='../static/library/flexslider/flexslider.css' type='text/css' media='all' />
     
 <script type='text/javascript' src='../static/js/jquery.js?ver=1.10.2'></script>
	<script type='text/javascript' src='../static/js/jquery-migrate.min.js?ver=1.2.1'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

       <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- <span class="glyphicon glyphicon-tree-deciduous"></span> -- >
                    <!-- <img src = "http://imgur.com/a/IDNCH"/> -->
                    Green Plots
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li  class="active">
                        <a href="featured-eco-homes.html">Featured Eco-Homes</a>
                    </li>
                     <li>
                        <a href="find-your-home.html">Find Your Home</a>
                    </li>
                     <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div class="content-wrapper clearfix">
			<div class="container"><!-- container via hooks -->
				<div id="main" class="row-fluid">
					<section  id="content" class="span13" role="main">
						<article class="post-56 property type-property status-publish hentry clearfix" id="property-56">
							<div id="property_slider_wrapper">
								<div id="myCarousel" class="carousel slide">
									<!-- Carousel items -->
									<div class="carousel-inner">
										<div class='item active'><img src={{ listing.imageurls[0] }} width='1170' height='350' alt='' /></div>
										{% for image in listing.imageurls %}
											<div class='item '><img src={{ image }} width='1170' height='350' alt='' /></div>
										{% endfor %}
									</div>
									<div class="carousel-thumbnail">
										<!-- Carousel nav -->
										<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
										<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
										<ol class="carousel-indicators hidden-phone">
											{% set count = 1 -%}
											{% for image in listing.imageurls %}
												<li data-target='#myCarousel' data-slide-to={{ count }} class='active'><img src={{ image }} width='80' height='80' alt='' /></li>
												{% set count = count + 1 %}
											{% endfor %}	
										</ol>
								  </div>
								</div>
							</div><!-- /#property_slider_wrapper -->
							<div id="single_property_meta_wrapper">
								<div class="single-property-meta clearfix status-35-text">
									<span class="meta-size"><i class="ico-size"></i>{{ listing.sqft }}</span>
									<span class="meta-bedroom"><i class="ico-bedroom"></i><span class="meta-hidden"> {{ listing.beds }}</span></span>
									<span class="meta-bathroom"><i class="ico-bathroom"></i><span class="meta-hidden"> {{ listing.baths }}</span></span>
									<span class="meta-garage"><i class="ico-garage"></i><span class="meta-hidden"> {{ listing.acreage }}</span></span>
									<span class="meta-status">For Sale</span>
								</div>
							</div>
							<div class="single-property-content-wrapper">
								<header class="single-property-header">
									<h3 class="single-property-title">{{ listing.address }}</h3>
									<p class="single-property-address">{{ listing.address }}</p>
								</header>
                              	<div class="badges1">
                              		{% for badge in listing.badges %}


                              					{% if badge|string() == 'certified'|string() %}
                                                <img width="50" height="50" src="../static/images/member.png" alt="member" title="member" /> 
                                                {% endif %}

                                                {% if badge|string() == 'electric'|string() %}
                                                <img width="50" height="50" src="../static/images/heating.png" alt="heating" title="heating" /> 
                                                {% endif %}
                                                
                                                {% if badge|string() == 'wellwater'|string() %}
                                                <img width="50" height="50" src="../static/images/water.png" alt="water" title="water" />
                                                {% endif %}
                                                

                                                {% if badge|string() == 'solar'|string() %}
                                                <img width="50" height="50" src="../static/images/solar.png" alt="solar" title="solar" />
                                                {% endif %}
                                    {% endfor %}
                                </div> 
								<div class="single-property-price">
									<p><h3><sup class="price-curr">$</sup>{{ listing.price }}&nbsp;<span class="price-postfix"></span></h3></p>
								</div>
                                
								<div class="single-property-content"> {{ listing.description }} &nbsp;</p> </div>
							 

							 	<div class="single-property-content-wrapper">
									<header class="single-property-header">
										<h3 class="single-property-title">Land Profile</h3>
									</header>
								</div>


								<div class="bottom-one">
									EcoScore: This property scores a {{ listing.ecoscore }} 	
								</div>


								<div class="bottom-one">
										{% if 'wellwater' in listing.badges %}
											Water: This property features a private or closely shared water well. 
										{% else %}
											Water: This property may have the potential for a ground well. Find out more here: {{ waterlink }}
										{% endif %}		
								</div>


								<div class="bottom-one">
										{% if 'solar' in listing.badges %}
											Solar: This property has solar panels installed. 
										{% else %}
											Solar: This property has the potential to generate its power with clean, renewable solar energy. Find out more here: {{ solarlink }}
										{% endif %}		
								</div>


								<div class="bottom-one">
										{% if 'electric' in listing.badges %}
											Heater: This property uses an eco-friendly, all-electric heater.  
										{% else %}
											Heater: This property has the potential to heat water efficiently with a lower environmental impact. Find out more here: {{ heaterlink }}
										{% endif %}		
								</div>


								<div class="bottom-one">
										{% if 'certified' in listing.badges %}
											Insulation: This property is LEED certified for excellent insulation. 
										{% else %}
											Insulation: This property has the potential to retain heat in an eco-friendly way. Find out more here: {{ insulationlink }}
										{% endif %}		
								</div>
								 
							</div>
						</article>
					</section><!-- #content -->
					<!-- #sidebar -->
				</div><!-- /#main -->
				 
		
			</div><!-- /.container-->
		</div>

     
     
     
     
     
 <script type="text/javascript">
	<!--------------------------------#Do not edit this sections unless you know what are you doing#------------------------------->
		jQuery(document).ready(function(){
		// Tab contents = .inside
			var tag_cloud_class = '#tagcloud';
			//Fix for tag clouds - unexpected height before .hide()
			var tag_cloud_height = jQuery( '#tagcloud').height();
			jQuery( '.inside ul li:last-child').css( 'border-bottom','0px' ); // remove last border-bottom from list in tab content
			jQuery( '.realTabs').each(function(){
				jQuery(this).children( 'li').children( 'a:first').addClass( 'selected' ); // Add .selected class to first tab on load
			});
			jQuery( '.inside > *').hide();
			jQuery( '.inside > *:first-child').show();
			jQuery( '.realTabs li a').click(function(evt){ // Init Click funtion on Tabs
				var clicked_tab_ref = jQuery(this).attr( 'href' ); // Strore Href value
				jQuery(this).parent().parent().children( 'li').children( 'a').removeClass( 'selected' ); //Remove selected from all tabs
				jQuery(this).addClass( 'selected' );
				jQuery(this).parent().parent().parent().children( '.inside').children( '*').hide();
				jQuery( '.inside ' + clicked_tab_ref).fadeIn(500);
				evt.preventDefault();
			});
		});
	<!------------------------------------------------------------------------------------------------------------------------------>
	</script>	
	<script type='text/javascript' src='../static/js/jquery.form.min.js'></script>
	<script type='text/javascript' src='../static/js/jpages.js'></script>
	<script type='text/javascript' src='../static/library/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.jcarousel.min.js'></script>
	<script type='text/javascript' src='../static/js/jquery.flexslider.js'></script>
	<script type='text/javascript' src='../static/js/html5shiv.js'></script>
	<script type='text/javascript' src='../static/js/jquery.placeholder.js'></script>
	<script type='text/javascript' src='../static/js/jquery.selectbox.js'></script>
	<script type='text/javascript' src='../static/js/map-highlight.js'></script>
	<script type='text/javascript' src='../static/js/real-expert.js'></script>
	<script type='text/javascript' src='../static/js/selectivizr.min.js'></script>
	<script type='text/javascript' src='../static/js/respond.min.js'></script>
	 
	<script type='text/javascript' src='../static/js/property-map.js?ver=1.0'></script>
</body>